<!-- Card -->
{% if card %}
<div class="big-card" {% if not card.links %} style="cursor: pointer;" {% endif %}>
    <div class="big-card__header">
        <h2 class="big-card__title">
            {% if "icon" in card %}
            <span class="big-card__title-icon">{% include card.icon %}</span>
            {% endif %}
            {{ card.title }}</h2>
    </div>
    <div class="big-card__content">
        <p>{{ card.description }}</p>
    </div>
    {% if "links" in card %}
    {% if not card.links is mapping %}
    <div class="big-card__footer">
        {% for link in card.links %}
        <a href="{{link.link}}" class="big-card__button"><span class="big-card__button-icon">{% include link.icon %}</span>{{ link.title }}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endif %}
