:root > * {
    --header-footer-primary-color: #FBFBFB;
    --md-primary-bg-color: #4E4E4E;
    --header-button-primary-color: #EDEDED;
    --header-button-primary-border-color: #D3D3D3;
    --header-button-primary-rss-color: #4E4E4E;
    --header-title-primary-color: #383838;
    --md-default-fg-color--light: #222222;
    --md-source-primary-color: #A7A7A7;
    --md-typeset-a-color: #3390FF;
    --sidebar-hover-color: #F4F4F4;
    --sidebar-text-color: #7A7A7A;
    --scrollbar-track-color: #FBFBFB;
    --scrollbar-thumb-color: #EDEDED;
    --md-typeset-table-color: #D3D3D3;
    --md-code-bg-color: #EDEDED;
    --md-code-pre-bg-color: #0F2F53;
    --md-code-hl-number-color: #D0D0D0;
    --md-code-hl-name-color: #D0D0D0;
    --md-code-hl-punctuation-color: #D0D0D0;
    --md-code-hl-comment-color: #ffffff;
    --md-code-fg-color: #383838;
    --md-code-hl-generic-color: #D0D0D0;
    --teritary-70: #3390FF;
    --teritary-99: #D6E9FF;
    --secondary-70: #F69802;
    --secondary-99: #FCE0B3;
    --primary-99: #FBDDDA;
    --primary-70: #EB5547;
    --primary-80: #EF776C;
    --neutral-80: #D3D3D3;
    --neutral-60: #A7A7A7;
    --neutral-95: #F4F4F4;
    --pill-color-primary: #D6E9FF;
    --pill-text-color-primary: #051322;
    --pill-hover: linear-gradient(0deg, rgba(34, 34, 34, 0.08), rgba(34, 34, 34, 0.08)), #D6E9FF;
    --card-primary-color: #FFFFFF;
    --card-border-primary-color: #D3D3D3;
    --card-text-color: #383838;
    --card-desc-color: #4E4E4E;
    --card-hover-color: radial-gradient(75% 75% at 50% 100%, rgba(87, 119, 201, 0.24) 0%, rgba(87, 119, 201, 0) 100%), rgba(34, 34, 34, 0.02);
    --card-button-hover-color: #D6E9FF;
    --card-button-icon: #4E4E4E;
    --card-icon-holder: rgba(34, 34, 34, 0.05);
}
