.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 3.636rem;
    align-items: flex-start;
    width: 100%;
    padding: 0 0.909rem;
}

.main-container__title {
    margin: 0 0 1.273rem 0;
}

.main-container__desc {
    margin: 0 !important;
}

.main-container__cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -12px;
}

.main-container__cards-col {
    display: flex;
    margin: 12px
}

.main-container__cards-col_four {
    flex: 1 1 calc(25% - 24px);
}

.main-container__cards-col_wide {
    flex: 0 1 calc(50% - 24px);
}

.main-container__cards-col_triple {
    flex: 0 1 calc(33% - 24px);
}

.main-container__search-form {
    display: flex;
    flex-direction: row;
    position: relative;
}

.main-container__search {
    margin: 44px 0 88px;
    max-width: 739px;
    width: 100%;
    height: 48px;
}

.main-container__search-input {
    height: 48px;
    width: 100%;
    padding: 12px;
}

.main-container__search-button {
    width: 32px;
    height: 32px;
    background: linear-gradient(180deg, #F95536 4.17%, #FFAB48 100%);
    border: 1px solid var(--neutral-80);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
}

.main-container__search-button:before {
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' clip-rule='evenodd' d='M5.83325 0.333008C2.79569 0.333008 0.333252 2.79544 0.333252 5.83301C0.333252 8.87057 2.79569 11.333 5.83325 11.333C7.172 11.333 8.39903 10.8547 9.35278 10.0596L13.1464 13.8532C13.3416 14.0485 13.6582 14.0485 13.8535 13.8532C14.0487 13.658 14.0487 13.3414 13.8535 13.1461L10.0599 9.35254C10.8549 8.39879 11.3333 7.17176 11.3333 5.83301C11.3333 2.79544 8.87082 0.333008 5.83325 0.333008ZM1.33325 5.83301C1.33325 3.34773 3.34797 1.33301 5.83325 1.33301C8.31853 1.33301 10.3333 3.34773 10.3333 5.83301C10.3333 8.31829 8.31853 10.333 5.83325 10.333C3.34797 10.333 1.33325 8.31829 1.33325 5.83301Z' fill='white'/></svg>");
    height: 14px;
    width: 14px;
    display: inline-block;
}

.main-container__pills {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.main-container__pill {
    padding: 8px;
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--pill-text-color-primary);
    background: var(--pill-color-primary);
    border-radius: 8px;
    cursor: pointer;
}

.main-container__pill:hover {
    background: var(--pill-hover);
}

@media screen and (max-width: 62.5em) {
    .main-container__cards-col_four {
        flex: 1 1 100%;
    }

    .main-container__cards-col_wide {
        flex: 1 1 auto;
    }

    .main-container__cards-col_triple {
        flex: 1 1 auto;
    }
}

@media screen and (min-width:60em) {
    .md-sidebar--secondary {
        display: none
    }
}

@media screen and (min-width:76.25em) {
    .md-sidebar--primary {
        display: none
    }
}
